body{
    background-color: rgb(231, 219, 219);
    
    font-family: 'Lobster', cursive;
}
/*Encabezado*/
.encabezado__titulo h1{
    text-align: center;
    font-size: 7rem;
    color: rgb(173, 122, 45);
}

.encabezado__img img {
    width: 19rem;
    height: 13rem;
    /* Mantén la proporción de la imagen */
    display: block;
    /* Para eliminar posibles espacios extra debajo de la imagen */
    margin: 0 auto;
    /* Centrar la imagen horizontalmente */
    border-radius: 1.7rem ;
}

.contenedor-flex {
    display: flex;
    flex-direction: column;

}
/*Ingredientes*/

.ingredientes{
    margin-top: 3rem;
    
}
.ingredientes__img {
    align-items: flex-end;
}


.ingredientes__img img{
    width: 19rem;
    height: auto;
    
    /* Mantén la proporción de la imagen */
    display: block;
    /* Para eliminar posibles espacios extra debajo de la imagen */
    margin: 0 auto;
    /* Centrar la imagen horizontalmente */
    border-radius: 1.7rem;

}

/*Proceso*/
.proceso {
    padding-bottom: 5rem;

}
.proceso__img img{
    width: 20rem;
    
    height: auto;
    /* Mantén la proporción de la imagen */
    display: block;
    /* Para eliminar posibles espacios extra debajo de la imagen */
    margin: 0 auto;
    /* Centrar la imagen horizontalmente */
    border-radius: 1.7rem;
}

.proceso__img {
    align-items: flex-end;
}

